body {
  background-color: #f7fbfc;
}
div.MuiFormControl-root {
  margin: 0.625rem;
  right: 0.625rem;
}
#error-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#error-page #errorText {
  width: 200vh;
  padding: 8rem;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
  /* display: flex; */
  align-items: center;
}

#error-page img {
  height: 100vh;
  width: 250vh;
  object-fit: cover;
  object-position: center;
  filter: grayscale(30%);
  -webkit-mask: linear-gradient(
    to left,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  mask: linear-gradient(to left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.viewCard {
  /* margin: 40px 40px; */
  /* padding: 20px 20px; */
  padding-left: 20px;
  padding-top: 40px;
  margin-left: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.recipeCard {
  border: 1px solid black;
  height: 500px;
  margin-top: 80px;
  background-color: white;
  border-radius: 10px;
}

.dishphoto {
  height: 400px;
  width: 500px;
}

div.login-form {
  display: flex;
  justify-content: center;
}

.login-form-container {
  height: 400px;
  width: 300px;
  padding: 25px;
}

.SearchRecipesPage {
  display: flex;
  flex-direction: column;
  margin: 5rem 5rem 5rem 5rem;
  align-items: center;
  text-align: center;
}

.SearchRecipesPage hr {
  width: 100%;
}

.SearchBar {
  width: 40%;
}

.SearchRecipesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.172);
}

.SearchFlexItem {
  position: relative;
  background-color: white;
  border: 1pt solid black;
  margin: 1rem;
  max-width: 300px;
  min-width: 180px;
  max-height: 400px;
  min-height: 180px;
  overflow: hidden;
}

.SearchFlexItem p {
  text-align: center;
  max-width: 300px;
  color: rgb(14, 24, 10);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16pt;
  padding: 0pt 5pt 0pt;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.SearchFlexItem img {
  display: cover;
  max-height: 300px;
}

.SearchFlexItem :hover {
  filter: grayscale(20%);
  text-decoration: underline #0e5423;
}

div.MuiFormControl-root {
  margin: 0.625rem;
  right: 0.625rem;
}

#likeBtn {
  z-index: 9;
  position: absolute;
  right: 0;
  width: 70px;
  height: 70px;

  color: rgb(184, 180, 183);
}

#likeBtn :active {
  color: #14692e;
}

#likeBtn.selected {
  color: #14692e;
}

.Favorites {
  width: 100%;
  height: 90vh;
  display: flex;
  /* background-color: blue; */
}

.Favorites .Favs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  /* background-color: red; */
}

.Favorites .NoAuth {
  width: 20em;
  height: 15em;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}

.Favorites .NoAuth * {
  margin: auto;
}

/* .Favorites .Favs .cardContainer {
  background-color: green;
} */
